body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}

header {
    background-color: #f4a460;
    color: white;
    text-align: center;
    padding: 1rem;
}
h2{
    text-align: center;

}
.intro {
    padding: 1rem;
}

.image1{
    width: 400px;
    height: 400px;
    padding-left: 80px;
}
.image2{
    width: 400px;
    height: 400px;
    padding-left: 80px
}
.image3{
    width: 400px;
    height: 400px;
    padding-left: 80px
    
}

footer {
    background-color: #f4a460;
    color: white;
    text-align: center;
    padding: 1rem;
}


